<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
      <h1>Events Registration System</h1>
      <p>This is a sample Node application deployed to Heroku. It's quite simple, and only interracts with single database to
        manage registrations.</p>
      <a type="button" id="removeall" class="btn btn-lg btn-default" href="#"><span class="glyphicon glyphicon-fire"></span> Remove all events</a>
      <a type="button" id="updateall" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-refresh"></span> Update everything</a>
    </div>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Organiser</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Place</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody id="databody">
        <tr>
          <td>Table is empty</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
        <ul>
          <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/node-js-getting-started">Heroku Button</a>            on the repository.</li>

          <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/master/package.json">package.json</a>,
            creating a deployable slug.</li>
          <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug
            can be mounted and executed.</li>
          <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>,
            from the Dashboard or CLI.</li>
        </ul>
      </div>
    </div>
    <!-- row -->
  </div>


</body>
<script>
  function updateData() {

    $.get('/allevents', function (data) {
      if (data.length > 0) {
        $("#databody").html('');
        data.forEach(function (element) {
          $("#databody").append('<tr><td>' + element.organizer + '</td><td>' + element.begin_time + '</td><td>' + element.end_time + '</td><td>' + element.place + '</td><td>' + element.description + '</td></tr>');
        }, this);
      }else{
        $("#databody").html('<tr><td>Table is empty</td></tr>');
      }
    });
  }
  updateData();
  $('#removeall').click(function () {
    $.get('/removeall');
    alert('All events were removed!');
  });
  $('#updateall').click(function () {
    updateData();
  });

</script>

</html>